{% extends 'starter.html' %}
{% block title %}
    <h3 style="text-align: center;">角色添加</h3>
{% endblock %}
{% block content %}

    <div class="luffy-container">
        <form action="" class="form-horizontal clearfix" method="post" novalidate>
            {% csrf_token %}
            
            {% for foo in  form %}
                <div class="form-group col-xs-6 clearfix">
                    <label class="col-xs-3 control-label">
                        {{ foo.label }}
                    </label>
                <div class="col-xs-9">
                    {{ foo }}
                    <span style="color: firebrick;">
                        {{ foo.errors.0 }}
                    </span>
                </div>
                </div>
            {% endfor %}
            <div class="form-group col-xs-12">
                <div class="col-xs-6">
                    <div class="col-xs-offset-3">
                        <button type="submit" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}